.body_backgorund 
{
    background-image:url(prback.jpg);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}
h2
{
	border-radius: 10px;
	width: 500px;
	padding: 5px;
 }
h3
{
	width: 1000px;
	background-color: white;
	display: inline-block;
}
